body {
    font-family: Arial, sans-serif;
    font-size: medium;
    margin: 100px;
    padding: 0px;
}
.art {
    background-color: yellow;
}

.abc {
    background-color: red;
    color: white;
}

.xyz {
    background-color: blue;
    color: white;
}

